<multi-routing-engine-results>
<multi-routing-engine-item>
<re-name>fpc0</re-name>
<software-information>
<host-name>{{hostname}}</host-name>
<product-model>qfx5110-48s-4c</product-model>
<product-name>qfx5110-48s-4c</product-name>
<junos-version>{{version}}</junos-version>
<package-information>
<name>junos</name>
<comment>JUNOS Base OS boot [{{version}}]</comment>
</package-information>
</software-information>
</multi-routing-engine-item>
</multi-routing-engine-results>
